:host {
  display: none;
}
:host([active]){
  display: block;
}
paper-fab{
  float: right;
  margin: 8px;
}
paper-fab.deep-orange {
  --paper-fab-background: #ff5722;
  --paper-fab-keyboard-focus-background: #bf360C;
}